@media (max-width:600px) {
    /******* start header ******/
    header{
       flex-direction: column;
        height: auto;
        
        
    }
    header ul li a{
        margin-bottom: 10px;
    }
    /******* end header ******/

}
/*********** video **********/
@media (max-width:1000px) {
    .video .text h1{
        font-size: 20px;
    }
    .video .text a{
        width: 100px;
        font-size: 15px;
        padding: 5px;
    }
}
/*********** video **********/